<div class="slider">
    <div class="slider-header">
        <div class="title-area container">
            <p class="title">Games On Sale</p>
            <svg class="title-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 9">
                <path class="title-arrow-path" d="M1 1l3 3.5L1 8" stroke="#f5f5f5" fill="none" fill-rule="evenodd"></path>
            </svg>
        </div>
        <div class="move-buttons container">
            <div class="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 9">
                    <path class="left-button-path" fill="none" d="M1 1l3 3.5L1 8" fill-rule="evenodd"></path>
                </svg>
            </div>
            <div class="button active">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 9">
                    <path class="right-button-path" fill="none" d="M1 1l3 3.5L1 8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="slider-cards">
        <MinorSliderCard></MinorSliderCard>
        <MinorSliderCard></MinorSliderCard>
        <MinorSliderCard></MinorSliderCard>
        <MinorSliderCard></MinorSliderCard>
        <MinorSliderCard></MinorSliderCard>
        <MinorSliderCard></MinorSliderCard>
        <MinorSliderCard></MinorSliderCard>
        <MinorSliderCard></MinorSliderCard>
    </div>
</div>

@code {

}
