<div class="header-search">
    <div class="inner-element search-bar">
        <div class="icon">
            <img src="icon/search-bar/magnifying-glass.svg" />
        </div>
        <input placeholder="Search store" />
    </div>
    <div class="inner-element topics">
        <div class="header-search-btn">
            <p>Discover</p>
        </div>
        <div class="header-search-btn">
            <p>Browse</p>
        </div>
        <div class="header-search-btn">
            <p>News</p>
        </div>
    </div>
</div>

@code {

}
