@inherits LayoutComponentBase

<PageTitle>EtherealGames</PageTitle>

<div class="page">
    <header>
        <div class="header-item logo">
            <img src="icon/header/epic-games.svg" id="epic-games-shield" />
            <div class="arrow">
                <img src="icon/header/arrow.svg" />
            </div>
        </div>
        <div class="header-item pipe"></div>
        <div class="header-item main-links">
            <div class="logo-store"> 
                <img src="https://media.graphassets.com/qAiDvosPSFGqJxTVuY7h" />
            </div>
            <div class="main-link-btn">
                <p>Distribution</p>

            </div>
            <div class="main-link-btn">
                <p>Support</p>
            </div>
            <div class="main-link-btn">
                <p>Unreal Engine</p>
            </div>
        </div>
        <div class="header-item profile">
            <div class="header-icon-btn">
                <img src="icon/header/globe.svg"/>
            </div>
            <div class="header-icon-btn">
                <img src="icon/header/avatar.svg" />
            </div>
            <div class="header-btn">
                <p>Download</p>
            </div>
        </div>
    </header>
    <main>
        <HeaderSearch></HeaderSearch>
        @Body
    </main>
</div>
