<div class="slider-area">
    <SliderPoster Slide="Active"></SliderPoster>
    <div class="cards">
        @foreach(var slide in slides)
        {
            <SliderCard Slide="slide" Current="Active" OnNext="Next"></SliderCard>
        }
    </div>
</div>

@code {
    public SliderModel Active { get; set;  }

    static List<SliderModel> slides = DatabaseMoq.Slides;

    protected override void OnInitialized()
    {
        Active = slides[0];
    }

    [JSInvokable]
    public void Next(SliderModel slide) 
    {
        int index = slides.IndexOf(slide);
        int next = (index + 1) % slides.Count;
        Active = slides[next];
    }
}
