@inject IJSRuntime js

<div class="slider-card @(isActive ? "active" : "")" @ref="slide">
    <div class="icon">
        <img src="@Slide.Image" />
    </div>
    <div class="title">
        <p>@Slide.Title</p>
    </div>
</div>

@code {
    private IJSObjectReference? jsModule;
    private DotNetObjectReference<SliderCard> component;
    public ElementReference slide;

    public bool isActive;
    private bool isLoad;

    [Parameter]
    public SliderModel Slide { get; set;  }

    [Parameter]
    public SliderModel Current { get; set; }

    [Parameter]
    public EventCallback<SliderModel> OnNext { get; set; }

    [JSInvokable]
    public async Task Next()
    {
        if (isActive)
        {
            await OnNext.InvokeAsync(Slide);
        }
    }
}
