<div class="slider-card">
    <div class="icon">
        <img src="https://cdn2.unrealengine.com/egs-farlight-84-carousel-thumb-1200x1600-1a3698d6350b.jpg?h=128&amp" />
    </div>
    <div class="title">
        <p>Farlight 84</p>
    </div>
</div>

@code {

}
