<div class="slider-poster">
    <img src="https://cdn2.unrealengine.com/egs-farlight-84-carousel-desktop-1920x1080-1fd017b4cd23.jpg?h=720&amp" />
</div>

@code {
    [Parameter]
    public SliderModel Slide { get; set; }
}
