.slider-card {
    width: 240px;
    min-width: 240px;
    height: 100%;
    border-radius: 16px;
    margin-top: 3px;
    display: flex;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
}

    .slider-card:first-child {
        margin-top: 0;
    }

    .slider-card:hover {
        background: #2a2a2a;
    }

.icon {
    margin: auto 15px;
    display: flex;
}

    .icon img {
        width: 58px;
        height: 100%;
        border-radius: 10px;
    }

.title {
    margin: auto;
    margin-left: 0;
}

    .title p {
        font-size: 16px;
        color: #fff;
    }
